.ganttTable_Header {
  display: table;
  border-bottom: 2px solid #d0d0d0;
  border-top: 2px solid #d0d0d0;
  box-sizing: content-box;
  background-color: #f8f9fa;
  height: 24px;
  min-height: 24px;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid #d0d0d0;
  opacity: 1;
  margin-left: -2px;
}


.ganttTable_HeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ganttTable_HeaderTitle {
  font-weight: 600;
  font-size: 12px;
}

.ganttTable_HeaderItem {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 4px 6px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  border-right: 1px solid #d0d0d0;
  background-color: #f8f9fa;
  height: 24px;
  min-height: 24px;
}



.resizer {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
  user-select: none;
}
.ganttTable_HeaderItem:last-child .resizer {
  width: 5px;
  right: 5px;
}

.resizer:hover {
  background-color: grey;
}

